<div class="chess-cell" [ngClass]="{'black' : ChessCellPosition.Color,'white':!ChessCellPosition.Color,'clear-both':!ChessCellPosition.Column}">
    <!-- {{CurrentCoin?CurrentCoin.Code:""}}-->

    <solider *ngIf="CurrentCoin && CurrentCoin.Name=='solider'" [Color]="CurrentCoin.Color"></solider>
    <tower *ngIf="CurrentCoin && CurrentCoin.Name=='tower'" [Color]="CurrentCoin.Color"></tower>
    <horse *ngIf="CurrentCoin && CurrentCoin.Name=='horse'" [Color]="CurrentCoin.Color"></horse>
    <bishop *ngIf="CurrentCoin && CurrentCoin.Name=='bishop'" [Color]="CurrentCoin.Color"></bishop>
    <queen *ngIf="CurrentCoin && CurrentCoin.Name=='queen'" [Color]="CurrentCoin.Color"></queen>
    <king *ngIf="CurrentCoin && CurrentCoin.Name=='king'" [Color]="CurrentCoin.Color"></king>
    <span class="col-row-info">{{ChessCellPosition.Row}},{{ChessCellPosition.Column}}</span>
</div>