 .chessboard {
     width: 670px;
     height: 670px;
     margin: 20px;
     border: 20px solid #333;
     margin: auto;
 }
 
 .chess-cell {
     position: relative;
 }
 
 .chess-coin {
     cursor: pointer;
     font-size: 50px;
 }
 
 .chess-cell.selected {
     color: green;
 }
 
 .chess-cell.coin-shiftable {
     border: 1.5px solid blue;
 }
 
 .chess-cell.coin-locked {
     border: 1.5px solid red;
 }
 
 .white .col-row-info,
 .black .col-row-info {
     font-size: x-small;
     position: absolute;
     bottom: 2px;
     right: 2px;
 }
 
 .black {
     float: left;
     width: 80px;
     height: 80px;
     background-color: #999;
     text-align: center;
     display: table-cell;
     vertical-align: middle;
     border: 1.5px solid transparent;
 }
 
 .white {
     float: left;
     width: 80px;
     height: 80px;
     background-color: #fff;
     text-align: center;
     display: table-cell;
     vertical-align: middle;
     border: 1.5px solid transparent;
 }
 
 .clear-both {
     clear: both;
 }